
body {
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#header div {
    margin-top: 10px;
}

#logo {
    width: 300px;
    height: 150px;
}

#home {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#search-container {
    width: 60%;
    margin-top: 30px;
}

#search-container input {
    width: 100%;
    padding: 12px;
    border: 2px solid gray;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    color: black;
}

#search-img {
    width: 5.5%;
    position: relative;
    bottom: 48%;
    left: 96.5%;
    cursor: pointer;
    transition: all 400ms;
}
#search-img:hover {
    width: 6.5%;
}

.users {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: -20PX auto;
}

.container-user {
    box-shadow: 0px 0px 2.2px #000000;  
    margin: 15px;
    flex-basis: 30%;
    flex-grow: 0;
    font-family: 'Bebas Neue', cursive;
}

#loader {
    font-size: 30px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.img {
    width: 33%;
    border-radius: 999px;
    display: block;
    margin: 30px auto;
}

.details {
    margin-top: 5px;
}

.details p {
    text-align: center;
}

.details p {
    font-size: 22px;
    letter-spacing: 3px;
}

.details h5 {
    margin-top: -8px;
    text-align: center;
    font-size: 22px;
    color: black;
}

.details h5 span {
    font-weight: normal;
    font-size: 16px;
    color: black;
}
.botones {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
/* .botones {
    display: flex;
    width: 30%;
}
.uno {
    width: 15%;
}

.dos {
    width: 15%;
} */

.repo {
    width: 60%;
}
.github {
    width: 58%;
}

.link {
    display: block;
    flex-basis: 20%;
    text-align: center;
    margin-top: -20px;
}

@media( max-width:500px  ) {
    #search-container {
        margin-right: 5%;
    }   

    #search-img {
        width: 15%;
        left: 94%;
    }

    .container-user {
        flex-basis: 75%;
    }
}

@media( max-width:350px  ) {
    #search-container {
        margin-right: 10%;
    }   


    #search-img {
        width: 20%;
        left: 94%;
    }
}
